* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: grey;
  height: 180px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main .persona {
  width: 300px;
  height: auto;
}

main .persona img {
  width: 80%;
  height: auto;
}

main a {
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: grey;
  height: 80px;
}

